<app-user-sidebar></app-user-sidebar>
<section id="main-content">
  <section>
      <div class="container">
        <div class="table-title">
          <div class="row">
            <div class="container">
              <h2>Clavrit <b>people</b></h2>
            </div>
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

            <p style="float: right;">

              <a *ngIf="this.isAdmin" href="#addEmployeeModal" style="background-color:#24aee4; float: right;margin-inline-end: 165px;margin-top: 36px;" class="btn btn-success float-end" data-toggle="modal" data-backdrop="false"
                data-target="#regModal"><i class="material-icons"></i> <span >Add New Employee</span></a>
            </p>

          </div>
        </div>

        <table class="table table-bordered table-striped">
          <thead style="background-color:  #24aee4;">
            <tr style="color: white;">
              <!-- <th>Emp Id</th> -->
              <th>Name</th>
              <th>Joinig Date</th>
              <th>Status</th>
              <th>Job Title</th>
              <th>Department</th>
              <th>Email</th>
              <th>Address</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let empProfile of this.globalService.empProfiles">
              <!-- <td><span>{{empProfile.empMasterDetails!.id}}</span></td> -->
              <td><span>{{empProfile.empPersonalDetails!.name}}</span></td>
              <td><span>{{empProfile.empHrmsDetails!.doj | date}}</span></td>
              <td><span>{{empProfile.empMasterDetails!.active}}</span></td>
              <td><span>{{empProfile.empMasterDetails!.role}}</span></td>
              <td><span>{{empProfile.empHrmsDetails!.department}}</span></td>
              <td><span>{{empProfile.empHrmsDetails!.email}}</span></td>
              <td><span>{{empProfile.empPersonalDetails!.address}}</span></td>
              <td>
                <a href="#viewmodal" class="view" title="View" data-toggle="modal" data-backdrop="false"(click)="openDetails(empProfile.empMasterDetails!.id)"><i class="material-icons">&#xE417;</i></a>
                <a href="#viewmodal" class="edit" title="Edit" data-toggle="tooltip"(click)="updateDetails(empProfile.empMasterDetails!.id)"><i class="material-icons">&#xE254;</i></a>
                <a style="cursor:pointer;" class="delete" title="Delete" data-toggle="tooltip" (click)="deletePeople(empProfile.empMasterDetails!.id)"><i
                  class="material-icons">&#xE872;</i></a>
                    <!-- <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#viewmodal"="openDetails(empProfile.empMasterDetails!.id)">
                      <i class="fa fa-search"></i>Details</button>
                    <button class="btn btn-sm btn-warning"  (click)="updateDetails(empProfile.empMasterDetails!.id)">
                      <i class="fa fa-edit"></i>Edit</button>
                     <button class="btn btn-sm btn-danger" (click)="deletePeople(empProfile.empMasterDetails!.id)">
                      <i class="fa fa-remove"></i>Delete</button> -->
                 
              </td>
            </tr>
          </tbody>
        </table>

        
      </div>
    
    </section>
  </section>

  <div id="regModal" class="modal">
    <app-employeeprofile-modal></app-employeeprofile-modal>
  </div>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">New Friend</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="name">Name</label>
          <div class="input-group">
            <input id="name" class="form-control" >
          </div>
        </div>
        <div class="form-group">
          <label for="surname">Surname</label>
          <div class="input-group">
            <input id="surname" class="form-control" >
          </div>
        </div>
        <div class="form-group">
          <label for="joining_date">Joinig Date</label>
          <div class="input-group">
            <input id="joining_date" class="form-control" >
          </div>
        </div>
        <div class="form-group">
          <label for="emp_status">Employment Status</label>
          <div class="input-group">
            <input id="emp_status" class="form-control" >
          </div>
        </div>
        <div class="form-group">
          <label for="job_title">Job Title</label>
          <div class="input-group">
            <input id="job_title" class="form-control" >
          </div>
        </div>
        <div class="form-group">
          <label for="department">Department</label>
          <div class="input-group">
            <input id="department" class="form-control" >
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <div class="input-group">
            <input id="email" class="form-control" >
          </div>
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <div class="input-group">
            <input id="address" class="form-control" >
          </div>
        </div>

      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>


  <!-- Modal -->
<div id="viewmodal" class="modal fade" role="dialog">
  <div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Employee Details</h4>
      <div>{{auth.getEmpMaster().role}}</div>
      
    </div>
    <div class="modal-body">

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>

</div>
    </div>
  </div>
